
.container
  footer.row.row-cols-1.row-cols-sm-2.row-cols-md-5.py-5.my-5.border-top
    .col.mb-3
      a.d-flex.align-items-center.mb-3.link-body-emphasis.text-decoration-none(href='/')
        svg.bi.me-2(width='40' height='32')
          use(xlink:href='#bootstrap')
      p.text-body-secondary &copy; 2024
    .col.mb-3
    .col.mb-3
      h5 Section
      ul.nav.flex-column
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Home
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Features
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Pricing
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') FAQs
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') About
    .col.mb-3
      h5 Section
      ul.nav.flex-column
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Home
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Features
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Pricing
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') FAQs
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') About
    .col.mb-3
      h5 Section
      ul.nav.flex-column
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Home
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Features
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') Pricing
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') FAQs
        li.nav-item.mb-2
          a.nav-link.p-0.text-body-secondary(href='#') About
