mixin search()
    form(id="form-search" class="col-6" action="submit") 
            .input-group
                input.form-control(type='text' name="keyword" placeholder="Search" )
                //- input.form-control(type='text' name="keyword" placeholder="Search" value= valueInput)

                button.btn.btn-primary(type='submit') Search