header.p-3.bg-dark.text-white
  .container
    .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
      ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
        li 
            a(href=`${prefixAdmin}/dashboard`)  ADMIN
