<ul class="nav flex-column">
  </li>
  <li class="nav-item">
    a(href=`${prefixAdmin}/dashboard`) Dashboard
  </li>
  <li class="nav-item">
    a(href=`${prefixAdmin}/products`) Products
  </li>
</ul>
